{{page-title this.year}}

<div class="min-h-svh flex flex-col p-8 min-w-[50rem] relative">
  <SeasonScoresChart
    @seasonScores={{this.model}}
    @selectedYear={{this.year}}
  />
  <div class="top-8 right-8 absolute">
    <SeasonSelect
      @seasonScores={{this.model}}
      @selectedYear={{this.year}}
      @onYearChange={{this.onYearChange}}
    />
  </div>
</div>